<div adaptivetype="${setType}" class="question-questionStem question-questionStem-1-column">
  <div class="question-stem-content">
    <div class="question">${item}
      <div cid="${cid}" ctype="MultipleChoice" layout="Vertical" qname="a${questionNumber}" subtype="MC" total="${numberOfAnsver}">
          ${options}
      </div>
    </div>
  </div>
</div>